asgiref
attrs
boto3
botocore
certifi
charset-normalizer
Django
idna
isodate
jmespath
lxml
pillow
platformdirs
python-dateutil
pytz
reportlab
requests
requests-file
requests-toolbelt
s3transfer
six
sqlparse
typing_extensions
tzdata
urllib3
zeep
setuptools
